body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Общий стиль для контейнера кнопок */
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Стиль для кнопок */
.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 100px; /* Значительно увеличенный размер шрифта */
    font-weight: bold;
    padding: 40px 60px; /* Очень большое внутреннее пространство */
    border-radius: 12px; /* Радиус скругления увеличен */
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin: 30px; /* Расстояние между кнопками увеличено */
    transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

/* Цвета кнопок */
.button:nth-child(1) { background-color: #ff6347; } /* Красный */
.button:nth-child(2) { background-color: #6495ed; } /* Голубой */
.button:nth-child(3) { background-color: #32cd32; } /* Зеленый */

/* Эффект увеличения при наведении */
.button:hover {
    transform: scale(1.2) translateY(-15px); /* Значительное увеличение масштаба и смещения */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Более выраженная тень */
}

/* Анимация при нажатии */
.button:active {
    transform: scale(1.3) translateY(-20px); /* Еще большее увеличение масштаба и смещения */
    background-color: rgba(255, 255, 255, 0.4); /* Изменена прозрачность фона */
    filter: blur(3px); /* Сильный эффект размытия */
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4); /* Внутренняя тень */
}

/* Плавная анимация при возвращении в исходное состояние */
.button:not(:active):focus, .button:not(:active):hover {
    outline: none;
}


h1{
    text-align: center;
}
